body {
  background-color: rgb(88, 170, 170);
}
.bttns {
  display: flex;
  justify-content: center;
}
.btn:hover {
  border: solid rgb(253, 223, 228) 5px;
  color: rgb(253, 223, 228);
}
.btn {
  height: 60px;
  width: 200px;
  margin: 20px;
  border: none;
  color: white;
  font-weight: bold;
}
.cats {
  background-color: rgb(212, 212, 250);
  color: rgb(88, 170, 170);
  font-family: Arial, Helvetica, sans-serif; 
}
.dinos {
  background-color: rgb(252, 176, 189);
  color: rgb(88, 170, 170);
  font-family: Arial, Helvetica, sans-serif; 
}
.dogs {
  background-color: rgb(93, 93, 196);
  color: rgb(88, 170, 170);
  font-family: Arial, Helvetica, sans-serif; 
}
.show {
  background-color: rgb(212, 212, 250);
  color: rgb(88, 170, 170);
  font-family: Arial, Helvetica, sans-serif; 
}
.delete {
  background-color: rgb(57, 75, 116);
  color: rgb(253, 223, 228);
  border-radius: 80px;
  border: none;
  height: 40px;
  padding: 9px;
}
.delete:hover {
  color: white;
  border: solid white 2px;
}
.element {
  font-family: Arial, Helvetica, sans-serif; 
  color: rgb(57, 75, 116);
}
#app {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.cards {
  
}
.card {
  background-color: rgb(253, 223, 228);
  margin: 4px;
  border: none;
  /* border: solid rgb(57, 75, 116) 5px; */
  /* border-radius: 40px; */
}
.card:hover {
  border: solid rgb(57, 75, 116) 5px;
}
