body {
  background-color: rgb(88, 170, 170);
}
.bttns {
  display: flex;
  justify-content: center;
}
.btn:hover {
  border: solid rgb(253, 223, 228) 5px;
  color: rgb(253, 223, 228);
}
.btn {
  height: 60px;
  width: 200px;
  margin: 20px;
  border: none;
  color: white;
  font-weight: bold;
}
.cats {
  background-color: rgb(212, 212, 250);
  color: rgb(88, 170, 170);
  font-family: Arial, Helvetica, sans-serif; 
}
.dinos {
  background-color: rgb(252, 176, 189);
  color: rgb(88, 170, 170);
  font-family: Arial, Helvetica, sans-serif; 
}
.dogs {
  background-color: rgb(93, 93, 196);
  color: rgb(88, 170, 170);
  font-family: Arial, Helvetica, sans-serif; 
}
.show {
  background-color: rgb(212, 212, 250);
  color: rgb(88, 170, 170);
  font-family: Arial, Helvetica, sans-serif; 
}
.delete {
  background-color: rgb(57, 75, 116);
  color: rgb(253, 223, 228);
  border-radius: 80px;
  border: none;
  height: 40px;
  padding: 9px;
  display: flex;
  justify-content: center;
}
.delete:hover {
  color: white;
  border: solid white 2px;
}
.element {
  font-family: Arial, Helvetica, sans-serif; 
  color: rgb(57, 75, 116);
}
#app {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.cards {
  
}
.card {
  background-color: rgb(253, 223, 228);
  margin: 4px;
  border: none;
}
.card:hover {
  border: solid rgb(57, 75, 116) 5px;
}

.top-app {
  display: flex;
  justify-content: center;
  margin: 30px;
}
#create {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border: solid 10px rgb(57, 75, 116);
  border-radius: 20px;
  padding: 20px;
  height: 350px;
  width: 650px;
  background-color: rgb(93, 109, 148);
}
.input {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(178, 196, 236);
  font-weight: bold;
}
.inputBox {
   border: 5px solid rgb(178, 196, 236);
   border-radius: 20px;
   accent-color: rgb(77, 90, 122);
   background-color: rgb(57, 75, 116);
   margin: 10px;
   font-family: Arial, Helvetica, sans-serif;
  color: rgb(178, 196, 236);
  font-weight: bold;
}
.sbmt-btn {
  background-color: rgb(57, 75, 116);
  color: rgb(178, 196, 236);
  border-radius: 80px;
  border: none;
  height: 60px;
  padding: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 20px;
  font-weight: bold;
}
.sbmt-btn:hover {
  border: solid rgb(178, 196, 236) 5px;
  color: rgb(178, 196, 236);
  background-color: rgb(57, 75, 116);
}
